Source: input-monitor
Maintainer: Morning Team
Section: python
Priority: optional
Build-Depends:
    debhelper (>= 9),
    dh-python,
    python3-all,
    python3-setuptools
Standards-Version: 3.9.1

Package: input-monitor
Architecture: all
Depends:
    ${misc:Depends},
    ${python3:Depends},
    python3-prettytable,
    python3-pyinotify
Description: Input Monitor - Estimated Time to Departure service and client
